@import "tailwindcss";
@plugin "daisyui";

body {
    @apply bg-zinc-950 text-zinc-300 font-mono antialiased min-h-screen relative;
    background-image:
        radial-gradient(circle at 50% 0%, rgba(39, 39, 42, 0.4) 0%, transparent 60%),
        linear-gradient(180deg, rgba(9, 9, 11, 0) 0%, #09090b 100%);
}