---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects";
---

<Layout>
    <div class="min-h-screen py-20">
        <Projects client:load />
    </div>
</Layout>
